header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size:x-large;
}

nav{
    width:70vw;
    margin-top: 5px;
}
.bigimg{
    width:  95vw;
    margin: 1rem;
    margin-bottom:2rem;
}
.container{
    display: flex;
}
h1{
    font-weight: normal;
}
.container>div{
    text-align: center;
}
.container>div>p{
    text-align:left;
}